*{box-sizing: border-box;}
body{
    margin: 0;
    padding: 0;
    padding-top: 50px;
    background-color: darkseagreen;
    text-align: center;
}
.container{
    #countries{
        padding: 0;
        list-style-type: none;
    }
}